.Landing {
    height: calc(100vh - 100px);
    width: 100%;
}

.Landing > header {
    height: 450px;
    width: 100%;
    background-image: url('https://s1.best-wallpaper.net/wallpaper/m/1608/Chocolate-cake-raspberry-blueberries-berries-delicious-food_m.webp');
    background-size: cover;
    background-position: center;
    font-size: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    text-shadow: 0px 2px 10px black;
}

.first-text {
    font-family: 'Dancing Script', cursive;
}

.Landing > main {
    display: flex;
    flex-direction: row;
    padding: 50px 18%;
}

aside {
    height: 200px;
    width: 200px;
    border: 1px solid black;
    box-shadow: 0px 2px 10px darkgray;
    margin-left: 35px;
    border-radius: 5px;
    background-color: #eeecea;
}

aside > h3 {
    font-size: 20px;
    margin: 15px 0;
}

aside > ul {
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

aside > ul > li {
    cursor: pointer;
}